{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="search-container">
            <h2>Vente</h2>
            <form autocomplete="off" action="" class="search-form">
                <div class="autocomplete">
                    <input id="myInput" type="text" placeholder="Produit" class="form-control">
                </div>
            </form>

            <div>
                <table id="sales_table" class="table">
                    <tr>
                        <th>Code</th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </table>
                <div class="row">
                    <div class="offset-6 col-6">
                        <hr>
                        <div class="row">
                            <div class="col-6 font-weight-bold">Total :</div>
                            <div class="col-6 text-left final-total font-weight-bold"><span>0</span> DT</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div id="validation-btn" class="btn btn-primary validation-btn">Valider</div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function deleteItem(e) {
            $(e).parent().parent().remove();
            $('.final-total').find('span').text(parseInt($('.final-total').find('span').text()) - parseInt($(e).parent().siblings('.local-total').find('span').text()));
        }

        function autocomplete(results) {
            inp = document.getElementById("myInput");
            var currentFocus;
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement('div');
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < results.length; i++) {
                    if (results[i]['name'].substr(0, val.length).toUpperCase() === val.toUpperCase()) {
                        b = document.createElement('div');
                        b.innerHTML = "<strong>" + results[i]['name'].substr(0, val.length) + "</strong>";
                        b.innerHTML += results[i]['name'].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + results[i]['name'] + "'>";
                        b.addEventListener("click", function(e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            $.each(results, function (key, value) {
                                if ( value['name'] === $('#myInput').val() ) {
                                    var id = '' + results[key]['id'];
                                    while (id.length < 4) {
                                        id = '0' + id;
                                    }
                                    row = '<tr class="item_row">'
                                        + '<td>' + id + '</td>'
                                        + '<td>' + results[key]['name'] + '</td>'
                                        + '<td class="local-price">' + results[key]['price'] + '</td>'
                                        + '<td><input type="number" min="1" value="1" class="form-control quantity-input"></td>'
                                        + '<td class="local-total"><span>' + results[key]['price'] + '</span> DT</td>'
                                        + '<td><div class="badge btn btn-danger delete-btn" onclick="deleteItem(this)">X</div></td>'
                                        + '</tr>';
                                    items.push({
                                        item: results[key],
                                        sale_quantity: 1
                                    });

                                    $('.final-total').find('span').text(parseInt($('.final-total').find('span').text()) + results[key]['price']);
                                }
                            });

                            $('#sales_table').append(row);
                            inp.value = '';
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode === 40) {
                    e.preventDefault();
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode === 38) { //up
                    e.preventDefault();
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode === 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt !== x[i] && elmnt !== inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        
        $('#validation-btn').on('click', function () {
            rows = $('.item_row');
            $.each(rows, function (key, value) {
                items[key]['sale_quantity'] = $(this).find('.quantity-input').val();
            });
            var data_sale = { 'items': JSON.stringify(items) };
            $.ajax({
                url: "sales/save-sale",
                type:"POST",
                data: data_sale,
                success: function(data)
                {
                    location.href = '/';
                }
            });
        });

        $(document).ready(function () {
            items = [];
            $.ajax({
                url: "search-all",
                type:"GET",
                async: false,
                success: function(msg){
                    results = msg['data'];
                },
                dataType: 'json'
            });
            autocomplete(results);

            $('#sales_table').on('input', 'input',function (e) {
                var total = $(e.target).parent().siblings('.local-total').find('span');
                var input_value = $(e.target).val();
                var price = $(e.target).parent().siblings('.local-price').text();
                total.text(price * input_value);

                var totals = $('.local-total');
                var final_value = 0;
                $.each(totals, function (key, value) {
                    final_value = parseInt(final_value) + parseInt($(value).text());
                });
                $('.final-total').find('span').text(final_value);
            });
        });
    </script>
{% endblock %}